#scatter-wrapper {
    height: auto;
}

#heatmap-wrapper {
    overflow: hidden;

    .heatmap-selection-button {
        top: 50px !important;
    }
}

.heatmap-mini {
    padding-top: 50px;
    padding-left: 10px;



}
    .selection {
        stroke: red;
        stroke-width: .05px;
        stroke-opacity: 0.5;
        fill: red;
        opacity: .5;
    }
.selected {
    fill: red !important;
    opacity: .5 !important;
  }