html {
    font-family: sans-serif;
    padding: 0;
}
body {
    padding: 0;
    margin: 0
}
footer {
    padding: 20px;
}
h1 {
    font-size: 2em;
}

a {
    color: teal;
    text-decoration: none !important;
    &:hover {
        color: lightseagreen;
    } 
}
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    background-color: teal;
}
.dropdown-hover {
    .dropdown-toggle::after {
        transition: .2s all ease;
        color: rgb(231, 231, 231);
    }
    &.show, &:hover {
        background-color: rgb(85, 85, 85); 
        color: rgb(231, 231, 231);
    }
    &.show {
        .dropdown-toggle::after {
            margin-bottom: -3px;
        }
    }
    .dropdown-menu {
        margin-top: -2px;
    }
    &:hover .dropdown-menu {
        display: block;
    }
}
header {
    h2, nav, ul {
        display: inline-block;
        margin-top: 0;
        margin-bottom: 0;
    }
    h2 { 
        font-weight: bold;
        color: white;
        text-transform: uppercase;
        font-size: 1.5em;
    }
    nav {
        ul {
            list-style: none;
        }
        li {
            display: inline-block;
            padding: 5px 10px;
        }
        a {
            color: white;
        }
    }
}
main {
    min-height: 400px;
    h1, h2 {
        margin-bottom: 15px;
    }
}
footer {
    color: white;
    font-size: .75em;
    h1 {
        color: lightgray;
        font-size: .75em;
    }
}