#scatter-wrapper {
  height: auto; }

#heatmap-wrapper {
  overflow: hidden; }

#heatmap {
  padding-top: 50px;
  padding-left: 10px; }
  #heatmap .selection {
    stroke: red;
    stroke-dasharray: 4px;
    stroke-opacity: 0.5;
    fill: transparent; }
  #heatmap .selected {
    stroke: red;
    stroke-width: 0.5px; }
