<footer class="bg-dark">
    <h2>COMP 584</h2>
    <span>Contributors: Tommy Avetisyan, Henry Dinh, Kyle Felkel, Alexis Siguenza, Elvis Ventura</span>
    <div id="footer-links" class="d-flex justify-content-center">
    <a class="icon" href="github.com/andorem/COMP584Project"><i class="fa fa-3x fa-github"></i></a>
    </div>
</footer>