<header class="bg-dark">
    <nav class="navbar navbar-expand-lg navbar-dark">
        <a class="navbar-brand" href="#"><h2>COMP 584</h2></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item {{#ifeq view "index"}}active{{/ifeq}}">
                    <a class="nav-link" href="/">Home</a>
                </li>
                 <li class="nav-item dropdown dropdown-hover
                    {{#ifeq view "element"}}active{{/ifeq}}
                    {{#ifeq view "elements"}}active{{/ifeq}}">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="/elements">Elements</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        {{#each ELEMENT_NAMES}}
                            <a class="dropdown-item" href="/element/{{@key}}">{{this}} ({{@key}})</a>
                        {{/each}}  
                    </div>
                </li>
                
            </ul>
        </div>
    </nav>
</header>