<h1>{{header}}</h1>
<ul>
    {{#each data}}
            <li><a href="/element/{{@key}}">{{this}} ({{@key}})</a></li>
    {{/each}}
</ul>
<pre id="test" class="bg-light rounded m-2 p-2"></pre>
<svg id="heatmap" data="{{#base64 data}}{{/base64}}"></svg>